# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.egg-info/

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.local

# Logs
*.log

# Byte-compiled / cache
.cache/
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Local db/testing files
*.sqlite3
*.db

# Build/packaging
build/
dist/
pip-wheel-metadata/
